.iconoEnlaces i{
    font-size: 30px;
    margin-right: 20px;
}

.iconoEnlaces i:hover{
    color: red;
}

h2, h3, i, p, em{
    color: var(--colorLetras)
}

.texto{
    text-align: center;
}


.separador{
    width: 220px;
    color: white;
}


.contact-form label{
    color: white;
    text-align: left;
    align-items: flex-start;
    justify-content: left;
}

.contact-form input, .contact-form textarea{
    width: 400px;
}