<app-header></app-header>
<div class="contacto">
    <div class="texto">
        <h3>Pulsa en cualquiera de estos iconitos y te llevará a mis redes sociales</h3>
    </div>
    <div class="row iconoEnlaces">
        <a href="https://twitter.com/A_Bermejo" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/a_bermejo3" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://github.com/Bermejo3" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/alberto-bermejo-corredor-696a47b8/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        <a href="mailto:alberto.bermejo.corredor@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
    </div>
    <div class="row">
        <hr class="separador">
        <i class="far fa-smile-beam emoji"></i>
        <hr class="separador">
    </div>
    <div class="texto">
        <h3>Si prefieres puedes enviarme un mensaje y te lo responderé encantado</h3>
    </div>
</div>