.nav{
    width: 100%;
    background-color: var(--colorSecundario);
    justify-content: space-between;
    color: var(--colorLetras)
}

.burguer{
    display: none;
    margin-left: 2rem;
}

.menu{
    padding-right: 40px;
}

.menu li{
    font-size: 20px;
    margin: 0 10px;
}

.menu li:hover{
    background-color: var(--colorFondo);
    color: var(--colorLetras)
}

.nombre{
    padding-left: 40px;
    margin-right: 2rem;
}

.linkedin{
    display: none;
    margin-right: 2rem;
    color: var(--colorLetras)
}

.menuDesplegado{
    justify-content: left;
    text-align: left;
}

.menuDesplegado li{
    padding-bottom: 1rem;
}

@media only screen and (max-width: 850px) {
    .burguer, .linkedin {
      display: block;
    }
    .menu{
        display: none;
    }
  }