.nav{
    width: 100%;
    background-color: var(--colorSecundario);
    justify-content: space-between;
    color: var(--colorLetras)
}

.burguer{
    display: none;
    margin-left: 2rem;
}

.menu{
    padding-right: 40px;
    height: 100%;
}

.menu li{
    font-size: 20px;
    padding: 0 10px;
    cursor: pointer;
    height: 100%;
}

.menu li:hover, .menu .active{
    /* background-color: var(--colorFondo);
    color: var(--colorLetras) */
    color: var(--colorTerciario)
}

.nombre{
    padding: 0 40px;
    margin-right: 2rem;
    cursor: pointer;
}

.nombre:hover{
    background-color: var(--colorFondo);
    color: var(--colorLetras)
}

.linkedin{
    display: none;
    margin-right: 2rem;
    color: var(--colorLetras) !important
}

.menuDesplegado{
    justify-content: left;
    text-align: left;
}

.menuDesplegado li{
    padding-bottom: 1rem;
    cursor: pointer;
}

a:-webkit-any-link {
    color: var(--colorLetras);
    cursor: pointer;
}

@media only screen and (max-width: 880px) {
    .burguer, .linkedin {
      display: block;
    }
    .menu{
        display: none;
    }
  }