<app-header></app-header>
<div>
    <div class="row">
        <h1>Hard Skills</h1>
    </div>
    <div class="columnSkill">
        <div class="col skill">
            <img src="../../../assets/Skills/javascript.png" alt="">
            <h2>Javascript</h2>
        </div>
        <div class="col skill">
            <img src="../../../assets/Skills/typescript.png" alt="">
            <h2>Typescript</h2>
        </div>
        <div class="col skill">
            <img src="../../../assets/Skills/nodejs.png" alt="">
            <h2>Node.js</h2>
        </div>
        <div class="col skill">
            <img src="../../../assets/Skills/angular.png" alt="">
            <h2>Angular</h2>
        </div>
        <div class="col skill">
            <img src="../../../assets/Skills/mongodb.png" alt="">
            <h2>MongoDB</h2>
        </div>
        <div class="col skill">
            <img src="../../../assets/Skills/mysql.png" alt="">
            <h2>mySQL</h2>
        </div>
    </div>

    <hr>
    <div class="row">
        <h1>Soft Skills</h1>
    </div>
    <div class="columnSkill">
        <div class="col skill ">
            <img src="../../../assets/Skills/management.png" alt="">
            <h2>Gestión de grupos</h2>
        </div>
        <div class="col skill">
            <img src="../../../assets/Skills/teamwork.png" alt="">
            <h2>Trabajo en equipo</h2>
        </div>
        <div class="col skill">
            <img src="../../../assets/Skills/leadership.png" alt="">
            <h2>Liderazgo</h2>
        </div>
        <div class="col skill">
            <img src="../../../assets/Skills/communication.png" alt="">
            <h2>Comunicación</h2>
        </div>
        <div class="col skill">
            <img src="../../../assets/Skills/improvement.png" alt="">
            <h2>Mejora de procesos</h2>
        </div>
        <div class="col skill">
            <img src="../../../assets/Skills/scrum.png" alt="">
            <h2>Metodología agile</h2>
        </div>
    </div>
</div>