<app-header></app-header>
<div class="biografia">
    <div class="row biografiaColumna">
        <div class="col">
            <div class="row">
                <img class="foto" src="../../../assets/Foto.JPG" alt="Alberto Bermejo">
            </div>
            <div class="row">
                <h2>Alberto Bermejo Corredor</h2>
            </div>
            <div class="row iconoEnlaces">
                <a href="https://twitter.com/A_Bermejo" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/a_bermejo3" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://github.com/Bermejo3" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/alberto-bermejo-corredor-696a47b8/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a href="mailto:alberto.bermejo.corredor@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <p class="texto">
                    Tras 7 años de carrera profesional en el sector de la Ingeniería Mecánica y tras un año de gestión de equipos y proyectos, he decidido realizar un cambio y desarrollar mi carrera en el sector digital, dónde podré traer toda la experiencia aprendida, así como mejorar en un sector ilusionante. Cuento con competencias tales como la colaboración y la gestión de equipos, la búsqueda de la calidad y mejora de procesos.
                </p>
            </div>
            <div class="row">
                <div class="col formacion">
                    <p><i class="fas fa-graduation-cap"></i><b> Formación</b></p>
                    <div class="experienciaFormacion">
                        <p>Bootcamp Desarrollo Aplicaciones Web y Móvil, 2021</p>
                        <em>Codenotch</em>
                    </div>
                    <div class="experienciaFormacion">
                        <p>Master Dirección Logística y Cadena de Suministro, 2014-2016</p>
                        <em>IMF-Business School / Universidad Camilo José Cela</em>
                    </div>
                    <div class="experienciaFormacion">
                        <p>Grado Ingeniería Mecánica, 2010-2014</p>
                        <em>Universidad Carlos III de Madrid</em>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>