<app-header></app-header>
<div>
    <div class="row proyecto">
        <div class="col">
            <img src="../../../assets/Proyectos/Anthill.PNG" alt="">
        </div>
        <div class="col">
            <h1>ANTHILL</h1>
            <p>Aplicación realizada afianzar los conocimientos adquiridos a lo largo del Bootcamp de Desarrollo de Aplicaciones Web y Movil de Codenotch en tan solo 3 semanas. Consiste en una plataforma de gestión de recursos humanos y materiales para las empresas</p>
            <div class="row botones">
                <a href="https://anthill-angular.herokuapp.com/" target="_blank"><button>Visita el sitio</button></a>
                <a href="https://github.com/Bermejo3/Anthill" target="_blank"><button>Consulta el código</button></a>
            </div>
        </div>
    </div>
</div>