img{
    width: 350px;
}

h1{
    margin: 0;
}


.proyecto{
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.proyecto{
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: 750px;

    color: var(--colorLetras);
    background: rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.09);
    padding: 30px;
    border-radius: 6px;
    text-align: left;
    align-items: flex-start;
    justify-content: left;
}

.proyecto:hover{
    box-shadow: 0 0px 26px 0 rgb(0 0 0 / 8%);
}

.proyecto p{
    padding: 20px;
    padding-top: 0;
    text-align: justify;
}

.botones{
    width: 100%;
    justify-content: space-evenly;
}

button{
    cursor: pointer;
    padding: 5px 20px;
    border: 1px solid rgba(0,0,0,0.09);
    border-radius: 6px;
    color: var(--colorLetras);
    background: var(--colorFondo);
}

button:hover{
    box-shadow: 0 0px 26px 0 rgb(0 0 0 / 8%);
}

@media only screen and (max-width: 850px) {
    .row{
        flex-direction: column;
    }
    h1{
        margin-top: 1rem;
    }
    button{
        margin-bottom: 1rem;
    }
    img{
        width: 250px;
    }
    .proyecto{
        width: 260px;
    }
  }