    <app-header></app-header>
    <div class="resume">
        <div class="row">
            <div class="col">
                <div class="row barravertical">
                    <!-- <div class="col border-right">&nbsp;</div>
                    <div class="col">&nbsp;</div> -->
                </div>
                <div class="row badge">O</div>
                <div class="row barravertical">
                    <div class="col border-right">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
            </div>
            <div class="col experiencia">
                <span><i class="fas fa-building"></i>Julio 2019 – Marzo 2020. <b>Team Manager</b></span> 
                <em>Servicios de consultoría PROTECNIC.</em>
                <ul class="listaTareas">
                    <li>Gestión de equipos. 6 ingenieros que daban servicio al Cliente</li>
                    <li>Evaluaciones de desempeño</li>
                    <li>Reuniones de avance</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row barravertical">
                    <div class="col border-right">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
                <div class="row badge">O</div>
                <div class="row barravertical">
                    <div class="col border-right">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
            </div>
            <div class="col experiencia">
                <span><i class="fas fa-building"></i>Octubre 2017 – Marzo 2020. <b>Ingeniero arquitectura de sistemas</b></span> 
                <em>Servicios de consultoría PROTECNIC. Cliente: GENERAL DYNAMICS SBS.</em>
                <ul class="listaTareas">Sector Defensa. Diseño de Vehículos de combate. PTC Creo y PLM Jack.
                    <li>Análisis interferencias e interfaces</li>
                    <li>Estudios de arquitectura para validación en producción en serie</li>
                    <li>Integración de sistemas</li>
                    <li>DRACAS (Defect Report Analysis and Corrective Action System)</li>
                    <li>Posicionamiento de equipos</li>
                    <li>Estudios ergonomía, accesibilidad y visión - PLM Jack</li>
                    <li>Normativas DEF-STAN y MIL-STD</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row barravertical">
                    <div class="col border-right">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
                <div class="row badge">O</div>
                <div class="row barravertical">
                    <div class="col border-right">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
            </div>
            <div class="col experiencia">
                <span><i class="fas fa-building"></i>Julio 2016 – Octubre 2017. <b>Diseñador PTC Creo I+D</b></span> 
                <em>Servicios de consultoría PROTECNIC. Cliente: GENERAL DYNAMICS SBS.</em>
                <ul class="listaTareas">Sector Defensa. Diseño de Vehículos de combate. PTC Creo.
                    <li>Diseño piezas con PTC Creo. Parts, assemblies</li>
                    <li>Transferencia de información de Siemenes Nx a PTC Creo</li>
                    <li>Gestión de equipos</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row barravertical">
                    <div class="col border-right">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
                <div class="row badge">O</div>
                <div class="row barravertical">
                    <div class="col border-right">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
            </div>
            <div class="col experiencia">
                <span><i class="fas fa-building"></i>Abril 2016 – Junio 2016.<b>Customer Service Representative</b></span> 
                <em>GOODYEAR DUNLOP TYRES.</em>
                <ul class="listaTareas">
                    <li>Gestión pedidos y clientes. Logística y organización</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row barravertical">
                    <div class="col border-right">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
                <div class="row badge">O</div>
                <div class="row barravertical">
                    <div class="col border-right">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
            </div>
            <div class="col experiencia">
                <span><i class="fas fa-building"></i>Septiembre 2015 – Marzo 2016.<b>Decathlon Logistics: Operador bultos</b></span> 
                <em>DECATHLON.</em>
                <ul class="listaTareas">
                    <li>Gestión de equipos. Gestión de producción y calidad en almacén</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row barravertical">
                    <div class="col border-right">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
                <div class="row badge">O</div>
                <div class="row barravertical">
                    <!-- <div class="col border-right">&nbsp;</div>
                    <div class="col">&nbsp;</div> -->
                </div>
            </div>
            <div class="col experiencia">
                <span><i class="fas fa-building"></i>Abril 2014 – Septiembre 2015.<b>GE Apprentice.</b></span> 
                <em>GENERAL ELECTRIC.</em>
                <ul class="listaTareas">Europe Forecasting Team. Market Research & Competitive Inteligence.
                    <li>Control de paradas y ventas de turbinas instaladas en Europa</li>
                    <li>Análisis de precios de componentes y competencia</li>
                    <li>Colaboración con Sales Managers</li>
                </ul>
            </div>
        </div>
    </div>
