<div class="row tarjeta">
    <div class="col">
        <div class="row">
            <img class="foto" src="../../../assets/Foto.JPG" alt="Alberto Bermejo">
        </div>
        <div class="row">
            <h2>Alberto Bermejo Corredor</h2>
        </div>
        <div class="row iconoEnlaces">
            <a href="https://twitter.com/A_Bermejo" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/a_bermejo3" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://github.com/Bermejo3" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/alberto-bermejo-corredor-696a47b8/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="mailto:alberto.bermejo.corredor@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
        </div>
        <div class="row">
            <h3 class="cita">Sin miedo al cambio y en mejora continua</h3>
        </div>
        <div class="row">
            <hr class="separador">
            <i class="far fa-smile-beam emoji"></i>
            <hr class="separador">
        </div>

        <div class="menu">
            <ul class="row">
                <li class="par" routerLink="/biografia">Biografía</li>
                <li class="impar" routerLink="/resume">Curriculum</li>
                <li class="par" routerLink="/skills">Skills</li>
                <li class="impar" routerLink="/proyectos">Proyectos</li>
                <!-- <li class="par" routerLink="/contacto">Contacto</li> -->
            </ul>
        </div>
    </div>
</div>