
.barravertical{
    height: 100%;
}

.border-right{
    border-right: 3px solid #dee2e6!important;
    height: 100%;
    
}

.badge{
    color: var(--colorLetras);
    padding: 10px;
}

em{
    margin-top: 1rem;
}
i{
    margin-right: 1rem;
}

.experiencia{
    width: 500px;
    color: var(--colorLetras);
    /* background: var(--colorSecundario); */
    background: rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.09);
    margin: 10px;
    padding: 30px;
    border-radius: 6px;
    text-align: left;
    align-items: flex-start;
    justify-content: left;
}

.experiencia:hover{
    box-shadow: 0 0px 26px 0 rgb(0 0 0 / 8%);
}

li{
    list-style: circle
}

.listaTareas li{
    text-align: justify;
    margin-top: 1rem;
}

.row{
    flex-wrap: nowrap;
    align-items: normal;
}