.tarjeta{
    margin-top: 10%;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.foto{
    border-radius: 50%;
}

h2, h3, i, p{
    color: var(--colorLetras)
}

.cita{
    font-weight: bold;
    font-style: italic;
}

.iconoEnlaces i{
    font-size: 30px;
    margin-right: 20px;
}

.iconoEnlaces i:hover{
    color: var(--colorTerciario);
}

.emoji, .menu li{
    font-size: 20px;
    color: var(--colorLetras);
    margin: 0 10px;
}

ul{
    padding: 0;
}

li{
    cursor: pointer;
}

.menu li:hover{
    color: var(--colorTerciario);
}

.separador{
    width: 220px;
    color: white;
}

.iconoEnlaces{
    margin-top: 1rem;
}

.par{
    margin-top: -2rem   !important
}

.impar{
    margin-top: 2rem !important
}
