<div class="nav">
    <div class="row nav">
        <div class="burguer" >
            <i class="fas fa-bars" (click)="mostrarMenu()"></i>
        </div>
        <div class="nombre">
            <h1 routerLink="/home">Alberto Bermejo</h1>
        </div>
        <div class="menu">
            <ul class="row">
                <li routerLink="/biografia">Biografía</li>
                <li routerLink="/resume">Curriculum</li>
                <li routerLink="/skills">Skills</li>
                <li routerLink="/proyectos">Proyectos</li>
                <!-- <li routerLink="/contacto">Contacto</li> -->
            </ul>
        </div>
        <div class="linkedin">
            <a href="https://www.linkedin.com/in/alberto-bermejo-corredor-696a47b8/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>
        <div *ngIf="mostrar" class="menuDesplegado">
            <ul>
                <li routerLink="/home">Home</li>
                <li routerLink="/biografia">Biografía</li>
                <li routerLink="/resume">Curriculum</li>
                <li routerLink="/skills">Skills</li>
                <li routerLink="/proyectos">Proyectos</li>
                <!-- <li routerLink="/contacto">Contacto</li> -->
            </ul>
        </div>
</div>
